@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

:root {
    --base-color: #333333;
    --color1: #39FF40;
    --color2: #FF007F;
}

::-webkit-scrollbar {
    background-color: #222222;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 500;
    user-select: none;
    color: #FFFFFF;
    text-align: center;
}

i {
    font-size: x-large;
    cursor: pointer;
}

img {
    pointer-events: none;
    width: 100%;
}

header {
    display: flex;
    padding: 2rem;
    position: fixed;
    top: 0;
    height: 15%;
    background-color: var(--base-color);
    z-index: 999;
    box-shadow: 0 0 1rem black;
}

h2 {
    font-family: 'Pixelify Sans', cursive;
}

span {
    color: var(--color1);
}

header div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main {
    background-color: var(--base-color);
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    height: 85%;
    bottom: 0;
    
}

.news, .info  {
    width: 100%;
    padding: 2rem;
}

.news {
    height: 60vh;
}

.info {
    background-color: var(--base-color);
}

h1 {
    color: #FF007F;
    text-align: left;
    padding: 2rem 0rem;
    font-family: 'Pixelify Sans', cursive;
}

ul {
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

.card {
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 1rem black;
    border: .2rem solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.card h5 {
    padding: .5rem;
    border-top: .2rem solid #FFFFFF;
    border-bottom: .2rem solid #FFFFFF;
}

.card ul {
    display: flex;
    flex-direction: column;
}

.card ul li {
    border-bottom: .1rem solid #222222;
    padding: 0 1rem;
    width: 100%;
    text-align: left;
}

@media screen and (max-width:500px){
    header label {
        display: none;
    }
}