@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

:root {
    --base-color: #333333;
    --color1: #39FF40;
    --color2: #FF007F;
}

::-webkit-scrollbar {
    background-color: var(--base-color);
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 500;
    user-select: none;
    color: #FFFFFF;
    text-align: center;
}

body {
    overflow-x: hidden;
}

i {
    font-size: x-large;
    cursor: pointer;
}

img {
    pointer-events: none;
    width: 100%;
}

header {
    display: flex;
    padding: 2rem;
    position: fixed;
    top: 0;
    height: 15%;
    background-color: var(--base-color);
    z-index: 999;
    box-shadow: 0 0 1rem black;
}

h3 {
    font-family: 'Pixelify Sans', cursive;
}

span {
    color: var(--color1);
}

header div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main {
    background-color: var(--base-color);
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    height: 85%;
    bottom: 0;
}

.news, .info  {
    width: 100%;
    padding: 1rem;
}

.news {
    min-height: 60vh;
}

.carrosel {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
}

.carrosel::-webkit-scrollbar-thumb {
    background-color: #444444;
    width: 0;
    border-radius: 1rem;
}

.cd {
    min-width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 1rem;
}

.cd * {
    color: var(--base-color);
    text-align: left;
}

.cd p {
    overflow: hidden;
    text-overflow: ellipsis; 
}

.menu__link {
    text-decoration: none;
    position: relative;
}
  
.menu__link:hover {
    text-decoration: underline;
    color: blue;
}
  
.menu__link::before {
    content: '';
    width: 6px;
    height: 6px;
    border-top: solid 2px var(--base-color);
    border-right: solid 2px var(--base-color);
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%) rotate(45deg);
    transition: transform .4s;
}

.menu__link:hover::before {
    transform: translateX(4px) translateY(-50%) rotate(45deg);
}

.info {
    background-color: var(--base-color);
}

h1 {
    color: #FF007F;
    text-align: left;
    padding: 2rem 0rem;
    font-family: 'Pixelify Sans', cursive;
}

ul {
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

li {
    width: 45%;
}

.card {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 1rem black;
    border: .2rem solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.card h5, th {
    padding: .2rem;
}

th {
    border-bottom: .1rem solid #222222;
    border-top: .1rem solid #222222;
}

.card img {
    border: .2rem solid #FFFFFF;
}

.card td {
    padding: .2rem;
    font-size: smaller;
}

@media screen and (max-width:375px){   
    main {
        font-size: .5rem;
    } 
}

@media screen and (max-width: 500px){   
    header label {
        display: none;
    }

    .cd {
        padding: 1rem;
    }

}

@media screen and (max-width: 700px){   
    ul {
        padding: 0 1rem;
    }

    li {
        width: 100%;
    }

    th, td, tr, h5 {
        font-size: xx-small;
    }
}

@media screen and (max-width: 850px){ 
    th, td, tr, h5 {
        font-size: smaller;
    }

    .cd {
        min-width: 50%;
    }
}

@media screen and (max-width: 1075px){ 
    h2, p, .menu__link {
        font-size: .7rem;
    }
}

